[Unit]
Description=Argo Messaging Service metric results consumer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ams-consumerd -c /etc/argo-ams-consumer/ams-consumer.conf
KillMode=process
StandardError=syslog

[Install]
WantedBy=multi-user.target
