[Unit]
Description=Archive AMS Consumers
Requires=ams-consumer@egi.service ams-consumer@eudat.service ams-consumer@sdc.service ams-consumer@ni4os.service ams-consumer@training.service

[Install]
WantedBy=multi-user.target
