[Unit]
Description=Argo Messaging Service metric results consumer
After=network.target
PartOf=ams-consumers.target

[Service]
Type=simple
Environment=VIRTUAL_ENV=/opt/ams-consumer/
ExecStart=/opt/ams-consumer/bin/python /opt/ams-consumer/usr/bin/ams-consumerd -c /opt/ams-consumer/etc/ams-consumer-%i.conf
KillMode=process
SyslogIdentifier=ams-consumer-%i

[Install]
WantedBy=multi-user.target
