[Unit]
Description=Argo Messaging Service metric results consumer
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/ams-consumerd -d start -c /etc/argo-ams-consumer/ams-consumer.conf 
ExecStop=/usr/bin/ams-consumerd -d stop -c /etc/argo-ams-consumer/ams-consumer.conf 

[Install]
WantedBy=multi−user.target
